# Public repository contents.
/*
!/.gitignore
!/.gitattributes
!/README.md
!/LICENSE
!/COPYRIGHT.md
!/THIRD_PARTY_NOTICES.txt
!/publication-policy.json
!/publication-license.html
!/.github/
!/.github/**
!/scripts/
/scripts/*
!/scripts/prepare_publication.py
!/docs/
!/docs/**
